<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- LINKAR ESTILOS -->
    <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}">
    
</head>
<body>
    <div class="signin">
        <form action="{{url_for('login')}}" method="POST">
            <h2>Sign in</h2>
            <input type="text" name="fusername" id="fusername" placeholder="Nombre de usuario" >
            <input type="password" name="fpassword" id="fpassword" placeholder="Contraseña" >
            <div class="msg">{{ msg }}</div>
			<input class="btn" type="submit" value="Login">
        </form>
    </div>
    
</body>
</html>
