{% extends "layout.html" %} {% block body %}
<h2>Login</h2>

<div class="form-container">
  {% if error %}
<p class="error"><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('login') }}" method="post">
    <dl>
      <dd>
        <input type="text" name="username" placeholder="Nombre de usuario" required/>
      </dd>
      <dd>
        <input type="password" name="password" placeholder="Contraseña" required />
      </dd>
      <dd><div class="btn"><input type="submit" value="Login" /></div></dd>
    </dl>
  </form>
</div>
{% endblock %}
