{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  {% if error %}
<p class="error"> <strong>Error:</strong> {{ error }}{% endif %}</p>
  <h2>Subir archivos</h2>
  <div class="form-container">
    <form method="post" action="{{ url_for('add_entry') }}">
      
         <div class="upload-files">
         <input type="file" name="files" id="files" multiple/>
        </div>
        <div class="btn"><input type="submit" value="Subir"></input></div>
      
  </form>
    
  </div>
  {% endif %}
  
  <ul class=history>
    <h2>Historial de subidas</h2>
  {% for user in users %}
    <li><h3>{{ user.title }}</h3>{{ user.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}

